<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/util.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("../components/TopNav.html") %>

    <div class="container p-3">
      <ul class="list-group">
        <li class="list-group-item text-center list-group-item-placeholder">
          <p class="h5 py-3">No task has been registered yet.</p>
          <button class="btn btn-success w-25">
            <a class="text-white text-decoration-none" href="/tasks/new">
              Add new task
            </a>
          </button>
        </li>
        <% tasks.forEach(task => { %>
        <li class="list-group-item">
          <button
            type="button"
            class="close position-absolute"
            style="right: 1rem; top: 1rem"
            data-name="<%= task.name %>"
            data-id="<%= task._id %>"
          >
            ×
          </button>
          <p class="h5"><%= task.name %></p>
          <p><%= task.dueDate %></p>

          <button
            name="btn-edit"
            class="btn btn-success"
            data-id="<%= task._id %>"
          >
            Edit
          </button>
        </li>
        <% }) %>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script>
      $("button[name='btn-edit']").click((e) => {
        console.log(`/tasks/${e.currentTarget.dataset.id}/edit`);
        location.href = `/tasks/${e.currentTarget.dataset.id}/edit`;
      });
      $("button.close").click((e) => {
        if (
          confirm(
            `Are you sure to delete task ${e.currentTarget.dataset.name}?`
          )
        )
          $.ajax({
            method: "DELETE",
            url: `/api/tasks/${e.currentTarget.dataset.id}`,
          })
            .done((response) => {
              if (response) $(e.currentTarget).parent("li").remove();
              else
                alert(
                  "Failed to delete the task.\nThe task may not exist or may have already been deleted."
                );
            })
            .fail(() =>
              alert(
                "Failed to delete the task.\nPlease try again later or contact the administrator."
              )
            );
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
